# 01 Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Create path
path = r'/Users/dana/Documents/Instacart Basket Analysis/'

In [3]:
# import data
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# 03 Exercise

## 1. If-Statements with User-Defined Functions

In [5]:
# create smaller subset to work with
df = ords_prods_merged[:1000000]

In [6]:
# define function for labeling low-, mid-, and high-range products

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
# use price_label to create new column
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/xl/7_yccdl123jf248d4rbf8h1m0000gn/T/ipykernel_38720/2198518253.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
# use value_counts on price_range column
df['price_range'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
# check max price
df['prices'].max()

14.8

## 2. If-Statements with the loc() Function

In [23]:
# create conditions similar to above but using loc
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
# use value_counts on price_range_loc
df['price_range_loc'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [26]:
# since loc is faster than user-created, now run on whole dataset
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [24]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [25]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [27]:
# show value counts for whole dataset
ords_prods_merged['price_range_loc'].value_counts()

Low-range product     10126324
Mid-range product       756450
High-range product      417678
Name: price_range_loc, dtype: int64

## 3. If-Statements with For-Loops

In [32]:
# find busiest day of the week
ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0.0    6209808
1.0    5665951
6.0    4500391
2.0    4217868
5.0    4209603
3.0    3844175
4.0    3787263
NaN         11
Name: orders_day_of_week, dtype: int64

In [34]:
# create for-loop
result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [36]:
# create new column for result
ords_prods_merged['busiest day'] = result

In [37]:
# count values
ords_prods_merged['busiest day'].value_counts()

Regularly busy    22437999
Busiest day        6209808
Least busy         3787263
Name: busiest day, dtype: int64

# 04 Task

### Create a new column with 2 busiest days and 2 slowest days

In [97]:
# create for-loop of busiest days
result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value in [0,1]:
    result.append("Busiest day")
  elif value in [3,4]:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [100]:
# create new column for result
ords_prods_merged['busiest days'] = result

In [101]:
# count values
ords_prods_merged['busiest days'].value_counts()

Regularly busy    12927873
Busiest day       11875759
Least busy         7631438
Name: busiest days, dtype: int64

In [ ]:
# numbers add up according to value counts found earlier

### Create a new column to show busiest times of day

In [69]:
# find value counts to determine ranges
ords_prods_merged['order_hour_of_day'].value_counts()

10.0    2764476
11.0    2738647
14.0    2691598
15.0    2664583
13.0    2663346
12.0    2620898
16.0    2537506
9.0     2456751
17.0    2089510
8.0     1719991
18.0    1637956
19.0    1259416
20.0     977049
7.0      891951
21.0     796379
22.0     634743
23.0     402621
6.0      290796
0.0      218951
1.0      115787
5.0       88064
2.0       69435
4.0       53284
3.0       51321
Name: order_hour_of_day, dtype: int64

In [70]:
# break into 3 groups -
#   'Most orders' = 9-16
#   'Fewest orders' = 0-6, 23
#   'Average orders' = 7-8, 17-22

In [72]:
# create groups - most orders 9-16
ords_prods_merged.loc[(ords_prods_merged['order_hour_of_day'] <= 16) & (ords_prods_merged['order_hour_of_day'] >= 9), 'busiest_period_of_day'] = 'Most orders'

In [76]:
   # least orders 0-6
ords_prods_merged.loc[(ords_prods_merged['order_hour_of_day'] <= 6) & (ords_prods_merged['order_hour_of_day'] >= 0), 'busiest_period_of_day'] = 'Least orders'

In [77]:
    # least orders 23
ords_prods_merged.loc[(ords_prods_merged['order_hour_of_day'] == 23), 'busiest_period_of_day'] = 'Least orders'

In [79]:
    # average orders 7-8
ords_prods_merged.loc[(ords_prods_merged['order_hour_of_day'] <= 8) & (ords_prods_merged['order_hour_of_day'] >= 7), 'busiest_period_of_day'] = 'Average orders'

In [80]:
 # average orders 17-22
ords_prods_merged.loc[(ords_prods_merged['order_hour_of_day'] <= 22) & (ords_prods_merged['order_hour_of_day'] >= 17), 'busiest_period_of_day'] = 'Average orders'

In [81]:
# check value counts
ords_prods_merged['busiest_period_of_day'].value_counts()

Most orders       21137805
Average orders    10006995
Least orders       1290259
Name: busiest_period_of_day, dtype: int64

In [86]:
# check results
ords_prods_merged[['order_hour_of_day', 'busiest_period_of_day']].head(10)

   order_hour_of_day busiest_period_of_day
0                8.0        Average orders
1                7.0        Average orders
2               12.0           Most orders
3                7.0        Average orders
4               15.0           Most orders
5                7.0        Average orders
6                9.0           Most orders
7               14.0           Most orders
8               16.0           Most orders
9                8.0        Average orders

In [102]:
# export dataframe
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged.pkl'))